.contact_container{
    text-align: center;
    height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/images/contactbg.jpg');
}

.main_contact{
    padding: 2.5rem;
    background-color: rgba(18, 44, 69, 0.559);
    height: 100vh;
    width: 100%;
    position: absolute;
    justify-content: center;
}

.contact_heading{
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    font-family: 'Sora', sans-serif;
}

.contact_mes{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.message_name,
.message_email,
.message_message{
    border: none;
    border-radius: 3px;
    height: 4rem;
    padding: 1.1rem;
    font-family: inherit;
    outline: none;
    font-size: 1.1rem;
    margin-bottom: 1.8rem;
}

.message_name::placeholder,
.message_email::placeholder,
.message_message::placeholder{
    font-family: inherit;
}

.message_message{
    height: 8rem;
}

.send_message{
    border: none;
    padding: 0.7rem;
    font-size: 1rem;
    color: #fff;
    background-color: #26b094;
    font-family: inherit;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 700px) {
    .main_contact{
        padding: 0;
    }

    .contact_container{
        padding: 0;
    }

    .send_message{
        width: auto;
    }

    .contact_mes{
        width: 90%;
    }
}