.units_container{
    height: auto;
    background-color: #122c45;
    color: #fff;
    padding: 2rem;
}

.our_units{
    font-family: 'Grand-Hotel', sans-serif;
    font-weight: 1.2rem;
    font-size: 1.2rem;
    color: #178d13;
    text-align: center;
    font-weight: 600px;
    align-items: center;
}

.units_in{
    font-size: 2.4rem;
    font-weight: 700;
    font-family: 'Sora', sans-serif;
    text-align: center;
    margin-top: -1.6rem;
    align-items: center;
}

.unit_img{
    width: 13rem;
    border-radius: 10px;
    height: 13rem;
    object-fit: cover;
}

.all_units{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: inline-flex;
    overflow: hidden;
    transition: all .6s ease-in-out;
    width: 100%;
    gap:3rem;
}

.unit_container,
.unit_container_active{
    text-align: center;
    transition: all .6s ease-in-out;
    align-items: center;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

/* .unit_container_active{
    transition: all .6s ease-in-out;
    transform: scale(1.1);
} */


@media screen and (max-width: 700px){
    .units_container{
        transition: all .6s ease-in-out;
        padding: 0.9rem;
        height: auto;
    }
    
    .unit_img{
        width: 8rem;
        border-radius: 10px;
        height: 8rem;
        object-fit: cover;
    }

    .all_units{
        margin-top: 5rem;
        margin-bottom: 3rem;
        display: inline-flex;
        overflow: hidden;
        transition: all .6s ease-in-out;
        width: 100%;
    }

    .unit_container{
        text-align: center;
        transition: all .6s ease-in-out;
        align-items: center;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .unit_name{
        width: 70%;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .our_units{
        margin: 0;
    }

    .units_in{
        margin: 0;
        font-size: 1.9rem;
    }
}