.login_container{
  padding: 2rem;
}

.signup_container{
  padding: .2rem 2rem;
}

.signup_container > .form{
  height: auto;
}


@media screen and (max-width: 480px) {
  .form{
    padding: 2rem;
    border-radius: 7px;
    margin-top: 4rem;
    height: 70vh;
    /* backdrop-filter: blur(1px); */
    background-color: rgba(176, 170, 170, 0.7);
  }

  .loginh{
    font-family: 'Poppins-Black', sans-serif;
    font-size: 3rem;
  }

  .label{
    font-size: 1.2rem;
    margin-bottom: 0.4em;
    font-weight: 700;
    font-family: 'Poppins-light', sans-serif;
  }

  .input{
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    width: 100%;
    outline: none;
    font-family: 'Poppins-Light', sans-serif;
    background-color: #eee;
  }

  .input::placeholder{
    color: #bbb;
    font-family: 'Poppins-Light', sans-serif;
  }

  .login{
    border: none;
    width: 100%;
    font-size: 1.3rem;
    border-radius: 6px;
    font-family: 'Poppins-light';
    font-weight: 900;
    background-color: #3232d8;
    color: #fff;
    padding: 0.5rem;
  }
}